<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between;">
        <h1>Add New Recipe</h1>
        <div style="width: 15%;">
            <p><a href="/dashboard">Dashboard</a> <a href="/user/logout">Logout</a></p>
        </div>
    </header>
    {% with messages = get_flashed_messages(category_filter=['message']) %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/recipe/submit" method="POST">
        Name: <br>
        <input type="text" name="name"> <br>
        Description: <br>
        <textarea name="description"cols="30" rows="10"></textarea><br>
        Instructions: <br>
        <textarea name="instructions" cols="30" rows="10"></textarea><br>
        Date Made On: <br>
        <input type="date" name="date_made"><br>
        Under 30 Minutes? <br>
        <input type="radio" name="under_30" id="yes" value=1 checked>
            <label for="yes">Yes</label>
        <input type="radio" name="under_30" id="no" value=0>
            <label for="no">No</label><br>
        <input type="submit" value="Create" style="margin-top: 20px;">
    </form>
</body>
</html>